Shapely==1.5.13
numpy==1.10.1
pandas==0.17.0
python-dateutil==2.4.2
pytz==2015.6
six==1.10.0
ujson==1.33
wsgiref==0.1.2
Shapely==1.5.13
numpy==1.10.1
pandas==0.17.0
python-dateutil==2.4.2
pytz==2015.6
six==1.10.0
ujson==1.33
wsgiref==0.1.2
Shapely==1.5.13
numpy==1.10.1
pandas==0.17.0
python-dateutil==2.4.2
pytz==2015.6
six==1.10.0
ujson==1.33
wsgiref==0.1.2
Shapely==1.5.13
numpy==1.10.1
pandas==0.17.0
python-dateutil==2.4.2
pytz==2015.6
six==1.10.0
ujson==1.33
wsgiref==0.1.2
Shapely==1.5.13
descartes==1.0.1
numpy==1.10.1
pandas==0.17.0
python-dateutil==2.4.2
pytz==2015.6
six==1.10.0
ujson==1.33
wsgiref==0.1.2
Fiona==1.6.2
Shapely==1.5.13
basemap==1.0.7
click==5.1
click-plugins==1.0.2
cligj==0.3.0
descartes==1.0.1
numpy==1.10.1
pandas==0.17.0
python-dateutil==2.4.2
pytz==2015.6
scikit-learn==0.16.1
six==1.10.0
sklearn==0.0
ujson==1.33
wsgiref==0.1.2
Fiona==1.6.2
Shapely==1.5.13
basemap==1.0.7
click==5.1
click-plugins==1.0.2
cligj==0.3.0
descartes==1.0.1
numpy==1.10.1
pandas==0.17.0
python-dateutil==2.4.2
pytz==2015.6
scikit-learn==0.16.1
six==1.10.0
sklearn==0.0
ujson==1.33
wsgiref==0.1.2
Fiona==1.6.2
Shapely==1.5.13
basemap==1.0.7
click==5.1
click-plugins==1.0.2
cligj==0.3.0
descartes==1.0.1
numpy==1.10.1
pandas==0.17.0
python-dateutil==2.4.2
pytz==2015.6
scikit-learn==0.16.1
six==1.10.0
sklearn==0.0
ujson==1.33
wsgiref==0.1.2
Fiona==1.6.2
Shapely==1.5.13
basemap==1.0.7
click==5.1
click-plugins==1.0.2
cligj==0.3.0
descartes==1.0.1
numpy==1.10.1
pandas==0.17.0
python-dateutil==2.4.2
pytz==2015.6
scikit-learn==0.16.1
six==1.10.0
sklearn==0.0
ujson==1.33
wsgiref==0.1.2
Fiona==1.6.2
Shapely==1.5.13
basemap==1.0.7
click==5.1
click-plugins==1.0.2
cligj==0.3.0
descartes==1.0.1
numpy==1.10.1
pandas==0.17.0
python-dateutil==2.4.2
pytz==2015.6
scikit-learn==0.16.1
six==1.10.0
sklearn==0.0
ujson==1.33
wsgiref==0.1.2
Fiona==1.6.2
Shapely==1.5.13
basemap==1.0.7
click==5.1
click-plugins==1.0.2
cligj==0.3.0
descartes==1.0.1
numpy==1.10.1
pandas==0.17.0
python-dateutil==2.4.2
pytz==2015.6
scikit-learn==0.16.1
six==1.10.0
sklearn==0.0
ujson==1.33
wsgiref==0.1.2
Fiona==1.6.2
Shapely==1.5.13
basemap==1.0.7
click==5.1
click-plugins==1.0.2
cligj==0.3.0
descartes==1.0.1
numpy==1.10.1
pandas==0.17.0
python-dateutil==2.4.2
pytz==2015.6
scikit-learn==0.16.1
six==1.10.0
sklearn==0.0
ujson==1.33
wsgiref==0.1.2
Fiona==1.6.2
Shapely==1.5.13
basemap==1.0.7
click==5.1
click-plugins==1.0.2
cligj==0.3.0
descartes==1.0.1
numpy==1.10.1
pandas==0.17.0
python-dateutil==2.4.2
pytz==2015.6
scikit-learn==0.16.1
six==1.10.0
sklearn==0.0
ujson==1.33
wsgiref==0.1.2
Fiona==1.6.2
Shapely==1.5.13
basemap==1.0.7
click==5.1
click-plugins==1.0.2
cligj==0.3.0
descartes==1.0.1
numpy==1.10.1
pandas==0.17.0
python-dateutil==2.4.2
pytz==2015.6
scikit-learn==0.16.1
six==1.10.0
sklearn==0.0
ujson==1.33
wsgiref==0.1.2
Fiona==1.6.2
Shapely==1.5.13
basemap==1.0.7
click==5.1
click-plugins==1.0.2
cligj==0.3.0
descartes==1.0.1
numpy==1.10.1
pandas==0.17.0
python-dateutil==2.4.2
pytz==2015.6
scikit-learn==0.16.1
six==1.10.0
sklearn==0.0
ujson==1.33
wsgiref==0.1.2
Fiona==1.6.2
Shapely==1.5.13
basemap==1.0.7
click==5.1
click-plugins==1.0.2
cligj==0.3.0
descartes==1.0.1
numpy==1.10.1
pandas==0.17.0
python-dateutil==2.4.2
pytz==2015.6
scikit-learn==0.16.1
six==1.10.0
sklearn==0.0
ujson==1.33
wsgiref==0.1.2
